.container {
    max-width: 110em;
}
.content {
    width: auto;
    padding: 0 2em;
}
#Map {
    width: 600px;
    height: 400px;
    float: right;
}
#Map img {
    max-width: none;
}
#Winners {
    min-width: 400px;
    float: left;
    padding: 0;
    margin: 0 1em 0 0;
}
#Winners li.medal {
    list-style-type: none;
    background: url("img/gold.png") 0 .3em no-repeat;
    padding-left: 40px;
}
#Winners li.silverMedal {
    background-image: url("img/silver.png");
}
#Winners li.bronzeMedal {
    background-image: url("img/bronze.png");
}
.medal a, .medal h2 {
    font-size: 1.5em;
    line-height: 2;
}
.medal h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}
.medal .toggle {
    font-size: .8em;
    margin-top: -4em;
    float: right;
}

#InfoblockContainer {
    float: left;
    clear: both;
    width: 100%;
    margin: 2em 0;
}
#NewsContainer, #PhotosContainer {
    width: 48%;
    float: left;
}
#NewsContainer {
    margin-right: 4%;
    clear: both;
}
#PhotosContainer {
    clear: right;
}

#Infoblock {
    width: 50%;
    margin: 0 auto;
}
#Infoblock img {
    float: left;
    margin: 0 .5em .5em 0;
}
#NewsContainer h2 img {
    margin-right: .5em;
    vertical-align: middle;
}
#News a {
    color: #000000;
}
#News h3 {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-top: 1.2em;
}
#News .date {
    display: block;
    color: #999;
    margin-bottom: .5em;
    font-size: .9em;
}
#News img {
    float: left;
    margin: 0 .5em .5em 0;
}
#Photos {
    width: 100%;
    float: left;
}
#Photos a {
    display: block;
    position: relative;
    float: left;
    clear: right;
    width: 260px;
    height: 260px;
    margin: .5em;
    background: #000;
}
#Photos img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #999;
}
.content .loading {
    position: relative;
}
.content .loading:before {
    content: "Loading...";
    background: rgba(255, 255, 255, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 3em;
    font-size: 3em;
}

#Attribution {
    margin-top: 3em;
    clear: both;
    font-size: .9em;
    float: left;
}